<div class="field-container" [formGroup]="group">
  <label [for]="field.name" class="label">
    {{ field.text }}
    <span *ngIf="field.mandatory" class="mandatory">*</span>
  </label>

  <select
    [id]="field.name"
    [formControlName]="field.name"
    class="select-field"
  >
    <option value="">Select {{ field.text }}</option>
    <option *ngFor="let option of field.datasource" [value]="option">
      {{ option }}
    </option>
  </select>

  <div *ngIf="isFieldInvalid(field.name)" class="error-message">
    <div *ngIf="group.get(field.name).hasError('required')">
      This field is required
    </div>
    <div *ngIf="group.get(field.name).hasError('maxlength')">
      Maximum length exceeded
    </div>
    <div *ngIf="group.get(field.name).hasError('pattern')">Invalid format</div>
  </div>
</div>
