<div class="mb-3" [formGroup]="group">
  <label class="form-label">
    {{ field.label }}
    <span *ngIf="field.required" class="text-danger">*</span>
  </label>

  <input
    [id]="field.name"
    type="number"
    [formControlName]="field.name"
    class="form-control"
  />

  <div *ngIf="isFieldInvalid(field.name)" class="invalid-feedback d-block">
    <div *ngIf="group.get(field.name).hasError('required')">
      This field is required
    </div>
    <div *ngIf="group.get(field.name).hasError('min')">
      Minimum value required: {{ field.min }}
    </div>
    <div *ngIf="group.get(field.name).hasError('max')">
      Maximum value allowed: {{ field.max }}
    </div>
  </div>
</div>
