<div class="field-container" [formGroup]="group">
  <label class="label">
    {{ field.label }}
    <span *ngIf="field.required" class="required">*</span>
  </label>
  <input
    [id]="field.name"
    type="number"
    [formControlName]="field.name"
    class="input-field"
  />

  <div *ngIf="isFieldInvalid(field.name)" class="error-message">
    <div *ngIf="group.get(field.name).hasError('required')">
      This field is required
    </div>
    <div *ngIf="group.get(field.name).hasError('min')">
      Minimum value required: {{ field.min }}
    </div>
    <div *ngIf="group.get(field.name).hasError('max')">
      Maximum value allowed: {{ field.max }}
    </div>
  </div>
</div>
