<div class="container">
  <div class="textarea-container">
    <textarea
      class="textarea"
      rows="30"
      cols="50"
      [(ngModel)]="jsonInput"
      placeholder="Enter your JSON schema here"
    ></textarea>
  </div>

  <button class="button" (click)="generateForm()">Generate Form</button>
  <button class="button" (click)="saveFormSchema()">Save Form</button>

  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>

  <!-- Tabs Component -->
  <app-tabs [tabs]="tabs" (tabSelected)="handleTabSelection($event)">
    <div *ngFor="let tab of tabs">
      <form
        [formGroup]="formData"
        *ngIf="tab.fields?.length && tab.id === selectedTabId"
      >
        <div class="form-container">
          <div *ngFor="let field of tab.fields" class="field-container">
            <ng-container [ngSwitch]="field.widget">
              <app-textfield
                *ngSwitchCase="'textfield'"
                [field]="field"
                [group]="formData"
              ></app-textfield>

              <app-numberfield
                *ngSwitchCase="'numberfield'"
                [field]="field"
                [group]="formData"
              ></app-numberfield>

              <app-radio
                *ngSwitchCase="'radio'"
                [field]="field"
                [group]="formData"
              ></app-radio>

              <app-combo
                *ngSwitchCase="'combo'"
                [field]="field"
                [group]="formData"
              ></app-combo>
            </ng-container>
          </div>
        </div>
      </form>
    </div>
  </app-tabs>
</div>
