<div class="field-container" [formGroup]="group">
  <label [for]="field.name" class="label">
    {{ field.text }}
    <span *ngIf="field.mandatory" class="mandatory">*</span>
  </label>

  <input
    [id]="field.name"
    type="text"
    [formControlName]="field.name"
    class="input-field"
  />

  <div *ngIf="isFieldInvalid(field.name)" class="error-message">
    <div *ngIf="group.get(field.name).hasError('required')">
      This field is required
    </div>
    <div *ngIf="group.get(field.name).hasError('maxlength')">
      Maximum length exceeded
    </div>
    <div *ngIf="group.get(field.name).hasError('pattern')">Invalid format</div>
    <div *ngIf="group.get(field.name).hasError('email')">
      Please enter a valid email address
    </div>
  </div>
</div>
