<div class="field-container" [formGroup]="group">
  <label class="label">
    {{ field.text }}
    <span *ngIf="field.mandatory" class="mandatory">*</span>
  </label>
  <div class="options-container">
    <div *ngFor="let option of options; let i = index" class="option-item">
      <input
        type="radio"
        [id]="field.name + '_' + i"
        [value]="option"  
        [formControlName]="field.name"
        class="radio-input"
      />
      <label [for]="field.name + '_' + i">{{ option }}</label> 
    </div>
  </div>

  <div *ngIf="isFieldInvalid(field.name)" class="error-message">
    <div *ngIf="group.get(field.name).hasError('required')">
      This field is required
    </div>
  </div>
</div>
