<div class="add-contact">
  <h3>Add Contact - {{ selectedFormName }}</h3>

  <form [formGroup]="formData" (ngSubmit)="onSubmit()" class="mt-4">
    <div *ngFor="let tab of formSchema?.view?.schema?.tabs">
      <div *ngFor="let field of tab.fields">
        <div class="form-group">
          <label>{{ field.text }}</label>

          <input
            *ngIf="field.widget === 'textfield'"
            formControlName="{{ field.name }}"
            type="text"
            class="form-control"
          />

          <input
            *ngIf="field.widget === 'numberfield'"
            formControlName="{{ field.name }}"
            type="number"
            class="form-control"
          />

          <div *ngIf="field.widget === 'radio'">
            <div *ngFor="let option of field.datasource">
              <div class="form-check">
                <input
                  type="radio"
                  [value]="option"
                  formControlName="{{ field.name }}"
                  class="form-check-input"
                  id="{{ field.name }}-{{ option }}"
                />
                <label
                  class="form-check-label"
                  [for]="field.name + '-' + option"
                >
                  {{ option }}
                </label>
              </div>
            </div>
          </div>

          <select
            *ngIf="field.widget === 'combo'"
            formControlName="{{ field.name }}"
            class="form-control"
          >
            <option *ngFor="let option of field.datasource" [value]="option">
              {{ option }}
            </option>
          </select>

          <div
            *ngIf="
              formData.get(field.name)?.invalid &&
              formData.get(field.name)?.touched
            "
            class="mt-2 text-danger"
          >
            <small
              *ngIf="formData.get(field.name)?.hasError('required')"
              class="error"
              >This field is required</small
            >
            <small
              *ngIf="formData.get(field.name)?.hasError('maxlength')"
              class="error"
              >Exceeded maximum length</small
            >
            <small
              *ngIf="formData.get(field.name)?.hasError('pattern')"
              class="error"
              >Invalid format</small
            >
          </div>
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="formData.invalid">
      Submit
    </button>
  </form>
</div>
